@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root {
    --primary-color: #5fbaa7;
}
* {
   
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    padding: 20px;
}